svg {
  background-color: #FFF;
  cursor: default;
  display: inline-block;
  vertical-align: top;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#info_div {
  width: 300px;
  height: 600px;
  border: 1px solid lightgrey;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-family: georgia;
}
#svg_div {
  width: 900px;
  height: 600px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-family: georgia;
}
#node_div {
  height: 60px;
  border-bottom: 1px solid lightgrey;
  text-align: center;
  font-family: georgia;
}
svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}